@import "variables.mixins";

.footer {
  background-color: $color-black;
  width: 100%;

  .footer--container {
    text-align: center;
    padding: 66px 35px;
  }
  &__title {
    @include fontsTitles(16px, 700, uppercase);
    color: $color-white;

  }
  &__text {
    @include fontsText(16px, $color-gray--very-light);
    line-height: 28px;
    margin-top: 19px;
    letter-spacing: 0.1px;
  }
  &__icons {
    @include flexCenter(row);
    margin-top: 31px;
    position: relative;

    a:not(:last-child) {
      margin-right: 6px;
    }
    a:hover {
      filter: brightness(120%);
    }
    .icon {
      @include flexCenter(row);
    }
    .icon--rcc {
      @include socialIcons($color-orange);
      color: $color-orange;
    }
    .icon--facebook {
      @include socialIcons($color-blue--dark);
      color: $color-blue--dark;
    }
    .icon--twitter {
      @include socialIcons($color-blue);
      color: $color-blue;
    }
    .icon--dribble {
      @include socialIcons($color-pink);
      color: $color-pink;
    }
    .icon--printerest {
      @include socialIcons($color-red);
      color: $color-red;
    }
  }
  &__contact {
    @include fontsText(16px, $color-gray--very-light);
    margin-top: 36px;
    font-style: normal;
    a:hover {
      @include hover();
    }
  }
}
