@import "variables.mixins";
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  &__menu {
    margin-top: 45px;
    position: relative;
  }
  &__list {
    @include flexCenter(row);
  }
  &__list--hiden {
    height: auto;
    width: 182px;
    background-color: $color--bkg-menu;
    position: absolute;
    top: 37px;
    display: none;
  }
  &__item--hiden {
    @include fontsTitles(11px, 400, uppercase);
    line-height: 22px;
    padding-left: 14px;
    margin-bottom: 8px;
    margin-top: 4.5px;
    display: block;
  }
  &__item--hiden:hover {
    color: $color--hover;
    background-color: $color--bkg-menu--hover;
  }
  &__item {
    @include fontsTitles(11px, 400, uppercase);
    letter-spacing: 1.1px;
    line-height: 22px;
  }
  &__item:not(:last-child) {
    margin-right: 68px;
  }
  &__item:hover {
    @include hover();
  }
  &__img {
    margin-top: 51px;
    max-width: 100%;
    height: auto;
  }
}
.burger-menu {
  background-color: $color-black;
  height: 37px;
  width: 44px;
  @include flexCenter(column);
  display: none;
  @include transition();

  &__line {
    width: 17px;
    height: 2px;
    background-color: $color-white;
  }
  &__line:not(:last-child) {
    margin-bottom: 2.5px;
  }
  &__line {
    @include transition();
  }
}
.burger-menu.open .line--top {
  transform: translateY(2.5px) rotate(45deg);
  margin-bottom: 0;
}
.burger-menu.open .line--mdl {
  display: none;
  @include transition();
}
.burger-menu.open .line--btm {
  transform: translateY(0.5px) rotate(-45deg);
}
