@import "variables.mixins";
/* section posts */
.posts {
  margin-top: 66px;
  &__title {
    @include fontsTitles(16px, 700, uppercase);
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(555px, 1fr));
    column-gap: 49px;
  }
  /* post */
  .post {
    margin-top: 24px;
    a {
      @include flexCenter(row);
      align-items: normal;
      justify-content: normal;
    }
    &__img {
      margin-right: 21px;
      .img {
        height: auto;
        width: 100%;
      }
    }
    &__content {
      .post__title {
        @include fontsTitles(16px, 700, capitalize);
        line-height: 30px;
      }
      .post__descr {
        @include fontsText(12px, $color-gray--light);
        line-height: 20px;
      }
      .post__text {
        @include fontsText(14px, $color-gray);
        line-height: 26px;
        margin-top: 7px;
      }
    }
  }
}
/* section instagram */
.instagram {
  margin-top: 62px;
  padding-bottom: 49px;
  background-color: rgba(0, 0, 0, 0.03);

  &__titles {
    @include flexCenter(row);
    padding-top: 50px;
    justify-content: space-between;

    .instagram__title {
      @include fontsTitles(16px, 700, uppercase);
    }
    .instagram__title--last{
      display: none;
    }
    .instagram__link {
      @include fontsTitles(13px, 700, uppercase);
    }
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 24px;
    a:not(:last-child){
      margin-right: 10px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
