/* media 1154px */
@media screen and (max-width: 1156px) {
  .container{
    padding: 0 10px;
  }
  .instagram {
    &__images {
      img {
        max-width: 280px;
      }
      a:last-child {
        display: none;
      }
    }
  }
}
/* media 940px */
@media screen and (max-width: 940px) {
 
  .header {
    &__menu {
      margin-top: 41px;
    }
    &__item:not(:last-child) {
      margin-right: 36px;
    }
    &__img {
      max-width: 100%;
      margin-top: 43px;
    }
  }
  .posts {
    margin-top: 48px;
    .posts--container {
      margin-top: 53px;
    }
  }
  .instagram {
    padding-bottom: 44px;
    &__images {
      justify-content: flex-start;
      margin-top: 38px;
      img {
        max-width: 250px;
      }
      a:not(:last-child) {
        margin-right: 5px;
      }
    }
    &__titles {
      padding-top: 45px;
    }
    &__link {
      letter-spacing: 0.5px;
    }
  }
  .footer {
    .footer--container {
      padding-top: 58px;
    }
  }
}
/* media 768px */
@media screen and (max-width: 769px) {
  .posts {
    margin-top: 38px;
    &__grid {
      display: flex;
      flex-direction: column;
    }
  }
  .header {
    &__menu {
      display: flex;
      margin-top: 23px;
      justify-content: flex-end;
    }
    &__list {
      display: none;
    }
    &__img {
      margin-top: 23px;
    }
    .burger-menu {
      display: flex;
    }
  }
  .instagram {
    &__images{
      grid-template-columns: 1fr;
      img{
        min-width: 300px;
      }
    }
    &__link {
      display: none;
    }
  }
}
/* media 410px */
@media screen and (max-width: 415px) {

  /* section posts */
  .posts {
    &__title {
      font-size: 14px;
    }
    .post {
      a {
        flex-direction: column;
      }
      .post__title {
        font-size: 14px;
        line-height: 40px;
      }
      .post__descr {
        font-size: 11px;
        line-height: 19px;
      }
      .post__text {
        display: none;
      }
    }
    .post:last-child {
      display: none;
    }
    .post:not(:last-child) {
      margin-top: 24.5px;
    }
  }
  /*section instagram */
  .instagram {
    background-color: transparent;
    margin-top: 32px;
    padding-bottom: 0;
    &__titles {
      .instagram__title {
        font-size: 14px;
        padding-top: 0;
      }
      .instagram__title--latest {
        display: none;
      }
      .instagram__title--last {
        display: block;
      }
    }
    
    &__images {
      margin-top: 22px;
     /*  img {
        min-width: 300px;
      } */
      a:not(:first-child) {
        display: none;
      }
    }
  }
  /* section footer */
  .footer {
    margin-top: 34px;
    .footer--container {
      padding: 38px 0;
    }
    &__title {
      font-size: 14px;
    }
    &__text {
      font-size: 12px;
      line-height: 20px;
      margin: 8px 0;
      span {
        display: none;
      }
    }
    &__icons {
      margin-top: 22px;
    }
    &__contact {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 24px;
      margin-top: 21px;
    }
  }
}
