/* Colors */
$color-white:  rgba(254, 254, 254, 1);
$color-gray--dark: rgba(78, 78, 78, 1);
$color-gray:rgba(92, 92, 92, 1);
$color-gray--light:rgba(124, 124, 124, 1);
$color-gray--very-light:rgba(185, 185, 185, 1);
$color-black:rgba(0, 0, 0, 1);
$color-orange:rgba(248, 144, 46, 1);
$color-blue--dark:rgba(57, 89, 159, 1);
$color-blue:rgba(69, 176, 227, 1);
$color-pink:rgba(217, 122, 176, 1);
$color-red:rgba(204, 33, 44, 1);
$color--hover:rgba(87, 164, 164, 1);
$color--bkg-menu:rgba(245, 245, 245, 1);
$color--bkg-menu--hover:rgba(229, 229, 229, 1);

/* mixins */
@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
};
@mixin fontsText($fontSize, $color){
    font-size: $fontSize;
    color: $color;
};
@mixin fontsTitles($fontSize, $fontWeight, $textTransform){
    font-size: $fontSize;
    font-weight: $fontWeight;
    text-transform: $textTransform;
    color: $color-gray--dark;
};
@mixin socialIcons($color){
    border-radius: 30px;
    border: 2px solid $color;
    height: 34px;
    width: 34px;
};
@mixin hover(){
    color:$color--hover;
    filter: brightness(100%);
}
@mixin transition(){
    transition: transform 0.5s ease;
}

